@font-face {
    font-family: 'Unity-Sans-Regular'; /* Name your font family */
    src: url('Unity-Sans-Regular.woff2'); /* Locate the .ttf file within your directory*/
}
@font-face {
    font-family: 'Unity-Sans-SemiBold';
    src: url('Unity-Sans-SemiBold.woff2');
}
@font-face{
    font-family: 'Unity-Sans-Medium';
    src: url('Unity-Sans-Medium.woff2');
}
body{
    margin: 0;
    overflow-x: hidden;
    background-color: black;
}
.header{
    top: 0px;
    z-index: 1;
}
.headerInn{
    padding: 14px 30px 14px 70px;
    background-color: black;
    height: 67px;
    width: 1180px;
    display: flex;
    justify-content: space-between;
}
.mercedes_logo{
    height: 62px;
    width: 203px;
    float: left;
}
.mercedes_logo:hover{
    cursor: pointer;
    opacity: 80%;
}
.nav{
    float: left;
    width: 930px;
    height: 67px;
    display: grid;
    grid-template-rows: 33.5px 33.5px;
    grid-template-columns: 930px;
}
.navtop{
    display: flex;
    justify-content: end;
    height: 30px;
    width: 930px;
}
li{
    list-style-type: none;
}
.nav_top_m{
    margin: 0px;
    display: flex;
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: left;
}
.nav_bottom_m{
    margin: 0px;
    padding: 0px;
    height: 30px;
    display: flex;
    align-items: center;
}
.navbottom{
    display: flex;
    align-items: center;
}
.lis{
    float: left;
    padding: 5px;

}
.lis_a{
    color: white;
    font-family: "Unity-Sans-Regular", sans-serif;
    text-decoration: none;
    font-size: 14px;
}
.search{
    margin-left: 20px;
    fill: white;
}
.line{
    background-color: rgb(0, 245,208);
    height: 5px;
    width: 100%;
}
.rt{
    transform: rotate(180deg);
    align-items: center;
}
.dh{
    display: flex;
}
.fl{
    float: left;
}
.al{
    display: flex;
    align-items: center;
    gap: 4.5px;
    padding: 5px 1px 5px 5px;
}
.mrg{
    margin-left: 30px;
}
.cal{
    width: 24%;
    z-index: 2;
    position: relative;
}
.bt{
    font-weight: bold;
}
.fnt{
    font-family: "Unity-Sans-SemiBold",sans-serif;
    font-size: 16px;
}
button{
    background-color: black;
    border: 0;
    color: white;
    fill: white;
    cursor: pointer;
}
.spg{
    background-color: rgb(0, 245, 208);
    padding: 16px;
    height: 158px;
    width: 100%;
    gap: 2px;
    float: left;
    position: relative;
}
.spgB{
    background-color: rgb(0, 0, 0);
    color: #ffff;
    padding: 16px;
    height: 138px;
    width: 100%;
    gap: 2px;
    float: left;
    position: relative;
}
.spgC{
    float: left;
    width: 110.5%;
}
.spgCPic{
    width: 165px;
    height: 146px;
    position: absolute;
    float: left;
}
.spgCtxt{
    float: right;
    padding: 20px;
    padding-left: 65%;
    width: 130px;
    height: 106px;
    background-color: rgb(0, 245, 208);
}
.top{
    position: relative;
}
.fmdm{
    font-family: "Unity-Sans-Medium",sans-serif;
}
.ff{
    font-family: "Unity-Sans-Regular",sans-serif;
}
.sb{
    font-family: "Unity-Sans-SemiBold",sans-serif;
}
.clr{
    color: rgb(0, 245,208);
}
.blt{
    font-weight: bold;
}
.mar{
    border-radius: 0px 0px 55px 0px;
}
.br{
    border-radius: 0px 0px 40px 0px;
}
.op{
    opacity: 0.8;
}
.shdw{
    transition: box-shadow 0.5s ease;
}
.shdw:hover{
    box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.3);
}
.marT{
    color: white;
}
.marT:hover{
    color: rgb(0, 245, 208);
}
.marT:hover path{
    fill: rgb(0, 245, 208);
}
.marS{
    background-color: rgb(0, 245,208);
    transition: background-color 0.5s ease;
}
.marS:hover{
    background-color: #00a39e;
    color: white;
    fill: white;
}
.hvrclr>div{
    transition: background-color 0.5s ease;
}
.hvrclr:hover>div{
    background-color: #00a39e;
    color: white;
    fill: white;
}
.marSW{
    background-color: white;
    transition: background-color 0.5s ease;
}
.marSW:hover{
    background-color: #00a39e;
    color: white;
    fill: white;
}
.zom img{
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease;
}
.zom:hover img{
    transform: scale(1.1);
}

.wd{
    width: 100%;height: 96%;
}
.insta>svg{
    height: 30px;
    width: 30px;
}
.fb>svg{
    height: 30px;
    width: 20px;
}
.black{
    background-color: black;
    display: flexbox;
    padding: 70px 70px 100px;
    height: 925px;
    width: 1263.33px;
    float: left;
}
.TTP{
    display: flex;
    margin-bottom: 60px;
}
.TTP_Text{
    height: 160px;
    width: 230px;
    padding-right: 25px;
}
.TTP_Logo{
    float: left;
    height: 160px;
    width: 150px;
    opacity: 0.5;
    cursor: pointer;
}
.TTP_Logo:hover{
    opacity: 1;
}
.TTP_Logo>div>img{
    width: 100%;
    height: 100%;
}
.PCP{
    display: flex;
    margin-bottom: 60px;
}
.PCP_Text{
    height: 45px;
    width: 230px;
    padding-right: 25px;
}
.PCP_Logo{
    float: left;
    height: 45px;
    width: 150px;
    opacity: 0.5;
    cursor: pointer;
}
.PCP_Logo:hover{
    opacity: 1;
}
.PCP_Logo>div>img{
    width: 100%;
    height: 100%;
}
.TMP{
    display: flex;
    margin-bottom: 60px;
}
.TMP_Text{
    height: 45px;
    width: 230px;
    padding-right: 25px;
}
.TMP_Logo{
    display: flexbox;
    float: left;
    height: 80%;
    width: 80%;
}
.TMP_Logo>div{
    width: 100%;
    height: 100%;
}
.TMP_Logo>div>div{
    width: 170px;
    height: 50px;
    padding-right: 60px;
    padding-bottom: 30px;
}
.TMP_Logo>div>div>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    float: left;
    align-items: start;
}
.dh>div{
    width: 100%;
    height: 100%;
    float: left;
}
.h_opacity{
    opacity: 0.5;
    cursor: pointer;
}
.h_opacity:hover{
    opacity: 1;
}
.TMS{
    display: flex;
}
.TMS_Text{
    height: 45px;
    width: 230px;
    padding-right: 25px;
}
.TMS_Logo{
    display: flexbox;
    float: left;
    height: 100px;
    width: 890px;
}
.TMS_Logo_Inner{
    height: 100%;
    width: 100%;
    float: left;
}
.TMS_Logo>div>div>img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    float: left;
    align-items: start;
}
.grey{
    float: left;
    background-color: rgb(36, 36, 36);
    padding: 30px 34px 20px;
    color: white;
    font-size: 14.5px;
}
.foot_pad{
    padding: 0px 10px 10px;
    cursor: pointer;
}
.scale{
    cursor: pointer;
}
.scale>div>img{
    object-fit: cover;
    transition: scale 0.4s ease;
}
.scale:hover>div>img{
    scale: 1.04;
}
